@model List<Country>

<h2>Favorites</h2>

<table class="table">
    <thead>
        <tr>
            <th>Flag</th>
            <th>Country</th>
            <th>Game</th>
            <th>Category</th>
            <th>Actions</th> <!-- You can customize this based on your needs -->
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td>
                    <img src="~/Flags/@(country.Name).jpg" alt="@country.Name" title="Country: @country.Name, Game: @country.Game, Category: @country.Category" style="width: 100px; height: 60px" />
                </td>
                <td>@country.Name</td>
                <td>@country.Game</td>
                <td>@country.Category</td>
                <td>
                    <!-- Add any additional actions you want for each favorite country -->|
                    <button onclick="removeFromFavorites('@country.Name')">Remove from Favorites</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index" asp-controller="Home">Return to Home Page</a> |
    <a href="#" onclick="clearFavorites()">Clear Favorites</a>

</div>

   @section scripts {
    <script>
        function removeFromFavorites(name) {
            // Make an AJAX request to remove the country from favorites
            $.ajax({
                type: "POST",
                url: "/Favorites/RemoveFromFavorite",
                data: { name: name },
                success: function (result) {
                    // Check if the removal was successful
                    if (result.success) {
                        alert('Removed from Favorites: ' + name);

                        // Remove the corresponding HTML element from the displayed list
                        $('tr:contains(' + name + ')').remove();
                    } else {
                        alert('Error removing from Favorites: ' + name);
                    }
                },
                error: function (error) {
                    alert('Error removing from Favorites: ' + name);
                }
            });
        }

        function clearFavorites() {
            // Make an AJAX request to clear all favorites
            $.ajax({
                type: "POST",
                url: "/Favorites/ClearFavorites",
                success: function (result) {
                    // Check if clearing was successful
                    if (result.success) {
                        alert('Cleared Favorites');

                        // Remove all HTML elements from the displayed list
                        $('tr').remove();
                    } else {
                        alert('Error clearing Favorites');
                    }
                },
                error: function (error) {
                    alert('Error clearing Favorites');
                }
            });
        }
    </script>
}

